.row
  %aside.col-lg-4
    %section
      %h1 Project Name
      %a{href: 'project_admin'} Project Administration
  .col-lg-8
    %h3 Requirements
    %ol.requirements
      %li
        %input.checkbox{type: 'checkbox'}
        %span.content Requirements text goes here
        %span.timestamp
          Posted [at this time]
      %li
        %input.checkbox{type: 'checkbox'}
        %span.content Bug Report text goes here
        %span.timestamp
          Posted [at this time]
      %li
        %input.checkbox{type: 'checkbox'}
        %span.content Requirements text goes here
        %span.timestamp
          Posted [at this time]
      %li
        %input.checkbox{type: 'checkbox'}
        %span.content Bug Report text goes here
        %span.timestamp
          Posted [at this time]
      %li
        %input.checkbox{type: 'checkbox'}
        %span.content Requirements text goes here
        %span.timestamp
          Posted [at this time]
      %li
        %input.checkbox{type: 'checkbox'}
        %span.content Bug Report text goes here
        %span.timestamp
          Posted [at this time]
      %li
        %input.checkbox{type: 'checkbox'}
        %span.content Requirements text goes here
        %span.timestamp
          Posted [at this time]
      %li
        %input.checkbox{type: 'checkbox'}
        %span.content Bug Report text goes here
        %span.timestamp
          Posted [at this time]
      %li
        %input.checkbox{type: 'checkbox'}
        %span.content Requirements text goes here
        %span.timestamp
          Posted [at this time]
