.row
  %form.form-project
    %h2.form-heading Project administration
    .form-group
      %label Title
      %input.form-control{type: 'text'}
    .form-group
      %label Description
      %textarea.form-control{type: 'textarea'}
    %a.btn.btn-lg.btn-warning.btn-block{href: 'staff_admin'} Manage users
    %a.btn.btn-lg.btn-primary.btn-block{href: 'project_home'} Save changes
