.row
  %form.form-project.col-lg-6.col-lg-offset-3
    %h2.form-heading
    .form-group
      %label Project Name
      %input.form-control{type: 'text'}
    .form-group
      %label Project Description
      %textarea.form-control{type: 'textarea'}
    %p
      %a{href: '#'} Add a requirement
    %input.btn.btn-primary{type: 'submit'}
