- provide(:title, 'About')
%h1 About WebSQA
%blockquote
  %p
    The WebSQA system is intended for use by a local software development company.
    The system is designed to facilitate the organization and tracking of software
    projects in development, and enable efficient communication of progress and
    requirements between Management, SQA Personnel, and Development Teams.
  %p
    The system will track which employees have been assigned to a given  project,
    and present employees who log into the system with only information relevant
    to the projects to which they have access. It will follow projects along a
    Waterfall development process. At each step of the process, Management,
    Development Teams, and SQA Personnel assigned to the project will be able to
    see which documents are required, log updates to those documents, track
    updates made by others, and log meetings, defect reports, and comments.
  %p
    The system will use the information submitted to it to generate reports on the
    project’s status and progress, facilitating speedy review and approval of
    completed development steps by management. By managing project organization,
    tracking, and communication, the system will maximize the efficiency and
    productivity of Development Teams and SQA personnel, and facilitate more
    streamlined project management.
  %small
    Purpose of the Product - sec. 1.3 -
    %cite{title: 'System Requirements Specification'}
      System Requirements Specification
      /put a link here??
