- provide(:title, 'Help')
%h1 Get Help
%p
  The easiest way to get support for WebSQA is to contact one of the |
  developers. Our information can be found on the
  = link_to 'contact', contact_path
  page.
/TODO
%ul
  %li Provide a list
  %li of links
  %li to help documents
  %li like the Administrator Manual
  %li here!
//TODO
