.jumbotron
  %h1 WebSQA
  %p
    A web-based Software Quality Assurance program developed for UMBC's
    CMSC 345 course.
  %p
    For more information, see the link below!
  %p
    %a{href: 'http://www.csee.umbc.edu/~squire/cs345_proj.shtml', class: 'btn btn-lg btn-primary'}
      Click here!
