.jumbotron.text-center
  %h1 WebSQA
  %p.lead
    A web-based Software Quality Assurance program developed for UMBC's CMSC 345
    course.
.services
  .row
    .col-md-4.col-md-offset-4.text-center
      %h2 Services Provided
      %hr
  .row
    .col-md-2.col-md-offset-2.text-center
      .service-item
        = fa_icon 'tasks', class: 'service-icon'
        %h4 Progress Tracking
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
    .col-md-2.text-center
      .service-item
        = fa_icon 'bug', class: 'service-icon'
        %h4 Bug Management
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
    .col-md-2.text-center
      .service-item
        = fa_icon 'group', class: 'service-icon'
        %h4 Communication
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
    .col-md-2.text-center
      .service-item
        = fa_icon 'file-text', class: 'service-icon'
        %h4 Report Generation
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
