#meeting.modal.fade{ tabindex: '-1', role: 'dialog', aria: { labelledby: 'meeting_label', hidden: 'true' } }
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ type: 'button', data: { dismiss: 'modal' }, aria: { hidden: 'true' } } &times;
        %h4#meeting_label.modal-title Log a meeting
      .modal-body
        Put the form here
      .modal-footer
        %button.btn.btn-default{ type: 'button', data: { dismiss: 'modal' } } Close
        %button.btn.btn-primary{ type: 'button'} Save changes
