- provide(:title, 'Projects')
%h1 Projects
.text-center
  = will_paginate @projects, renderer: BootstrapPagination::Rails, class: 'pagination-lg', previous_label: '&laquo;', next_label: '&raquo;'
%ul.projects
  = render @projects
.text-center
  = will_paginate @projects, renderer: BootstrapPagination::Rails, class: 'pagination-lg', previous_label: '&laquo;', next_label: '&raquo;'
