- provide(:title, @project.title)
.row
  %aside.col-lg-4
    %section
      %h1= @project.title
      %p=  @project.desc
      - if current_user.admin?
        %p= link_to 'Project administration', edit_project_path(@project)
  .col-lg-8
    - if @project.requirements.any?
      %h3 Progress
      %ol.requirements
        = render @requirements
    .text-center
      .btn-group.btn-group-sm
        - if current_user.admin?
          %button.btn.btn-primary{ data: { toggle: 'modal', target: '#requirement' } } Add a requirement
        %button.btn.btn-primary{ data: { toggle: 'modal', target: '#meeting' } } Log a meeting
        %button.btn.btn-primary{ data: { toggle: 'modal', target: '#bug' } } Report a bug

/'Add a requirement' Modal
#requirement.modal.fade{ tabindex: '-1', role: 'dialog', aria: { labelledby: 'requirement_label', hidden: 'true' } }
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ type: 'button', data: { dismiss: 'modal' }, aria: { hidden: 'true' } } &times;
        %h4#requirement_label.modal-title Add a requirement
      .modal-body
        Put the form here
      .modal-footer
        %button.btn.btn-default{ type: 'button', data: { dismiss: 'modal' } } Close
        %button.btn.btn-primary{ type: 'button'} Save changes

/'Log a meeting' Modal
#meeting.modal.fade{ tabindex: '-1', role: 'dialog', aria: { labelledby: 'meeting_label', hidden: 'true' } }
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ type: 'button', data: { dismiss: 'modal' }, aria: { hidden: 'true' } } &times;
        %h4#meeting_label.modal-title Log a meeting
      .modal-body
        Put the form here
      .modal-footer
        %button.btn.btn-default{ type: 'button', data: { dismiss: 'modal' } } Close
        %button.btn.btn-primary{ type: 'button'} Save changes

/'Report a bug' Modal
#bug.modal.fade{ tabindex: '-1', role: 'dialog', aria: { labelledby: 'bug_label', hidden: 'true' } }
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ type: 'button', data: { dismiss: 'modal' }, aria: { hidden: 'true' } } &times;
        %h4#bug_label.modal-title Report a bug
      .modal-body
        Put the form here
      .modal-footer
        %button.btn.btn-default{ type: 'button', data: { dismiss: 'modal' } } Close
        %button.btn.btn-primary{ type: 'button'} Save changes
