%form.form-signup
  %h2.form-signup-heading Create an Organization
  %input.form-control.form-top{type: 'text', placeholder: 'Organization name', autofocus: true}
  %input.form-control.form-mid{type: 'text', placeholder: 'Owner name'}
  %input.form-control.form-mid{type: 'text', placeholder: 'Email address'}
  %input.form-control.form-mid{type: 'password', placeholder: 'Password'}
  %input.form-control.form-bot{type: 'password', placeholder: 'Password confirmation'}
  %button.btn.btn-lg.btn-primary.btn-block{type: 'submit'} Create
