// Mixins, variables, etc.
@mixin box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// Site-wide
body {
  padding-top: 70px;
}

textarea {
  resize: vertical;
}

// Footer
.footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #e5e5e5;
  color: #999;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

// Forms
.form-signin {
  margin: 0 auto;
  padding: 15px;
  max-width: 330px;
  .form-signin-heading {
    margin-bottom: 10px;
  }
  .checkbox {
    margin-bottom: 10px;
    font-weight: normal;
  }
  .form-control {
    @include box-sizing;
    position: relative;
    padding: 10px;
    height: auto;
    font-size: 16px;
    &:focus {
      z-index: 2;
    }
  }
  input {
    &[type="text"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    &[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

.form-user {
  margin: 0 auto;
  padding: 15px;
  max-width: 400px;
  .form-user-heading {
    margin-bottom: 10px;
  }
  .form-control {
    @include box-sizing;
    position: relative;
    padding: 10px;
    height: auto;
    font-size: 16px;
    &:focus {
      z-index: 2;
    }
  }
  .form-top {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-mid {
    margin-bottom: -1px;
    border-radius: 0;
  }
  .form-bot {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

// Users index
.users {
  margin: 0;
  list-style: none;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid #e5e5e5;
    &:last-child {
      border-bottom: 1px solid #e5e5e5;
    }
  }
}

// Debug dump
.debug_dump {
  @include box-sizing;
  float: left;
  clear: both;
  margin-top: 45px;
  width: 100%;
}
