// Sidebar
aside {
  section {
    padding: 10px;
    border-top: 1px;
    &:first-child {
      padding-top: 0;
      border: 0;
    }
    h1 {
      margin-top: 0;
      margin-bottom: 3px;
      text-align: left;
      letter-spacing: -1px;
      font-size: 1.4em;
    }
    img {
      float: left;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }

  }
}
// Footer
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #e5e5e5;
  color: #999;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}
