@import "bootstrap/mixins";

// --- Global ---
html {
  overflow-y: scroll;
}

body {
  padding-top: 70px;
}

section {
  overflow: auto;
}

textarea {
  @include resizable(vertical);
}

// Debug dump
.debug_dump {
  @include box-sizing(border-box);
  float: left;
  clear: both;
  margin-top: 45px;
  width: 100%;
}

// --- Home/Welcome Page ---
.services {
  padding: 50px 0;
}

.service-item {
  margin-bottom: 15px;
}

i.service-icon {
  display: inline-block;
  width: 140px;
  height: 140px;
  border: 3px solid #333;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center;
  font-size: 56px;
  line-height: 136px;
  &:hover {
    font-size: 68px;
  }
}

// --- Users ---
// Index
.users {
  margin: 0;
  list-style: none;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid #e5e5e5;
    &:last-child {
      border-bottom: 1px solid #e5e5e5;
    }
    img {
      float: left;
    }
  }
}

// Misc
.gravatar {
  margin-right: 10px;
  border-radius: 4px;
}

.admin-tag {
  color: #999;
}

// --- Projects ---
// Index
.projects {
  margin: 0;
  list-style: none;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid #e5e5e5;
    &:last-child {
      border-bottom: 1px solid #e5e5e5;
    }
    .btn {
      float: right;
    }
  }
}

// Requirements
.requirements {
  margin: 10px 0 0;
  list-style: none;
  li {
    padding: 10px 0;
    border-top: 1px solid #e5e5e5;
  }
  .content {
    display: block;
  }
  .timestamp {
    color: #999;
  }
  .checkbox {
    float: right;
  }
}
