@import "bootstrap/mixins";

// --- Global ---
body {
  padding-top: 70px;
}

textarea {
  @include resizable(vertical);
}

// Debug dump
.debug_dump {
  @include box-sizing(border-box);
  float: left;
  clear: both;
  margin-top: 45px;
  width: 100%;
}

// --- Home/Welcome Page ---
.services {
  padding: 50px 0;
}

.service-item {
  margin-bottom: 15px;
}

i.service-icon {
  display: inline-block;
  width: 140px;
  height: 140px;
  border: 3px solid #333;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center;
  font-size: 56px;
  line-height: 136px;
  &:hover {
    font-size: 68px;
  }
}
