// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Home-Page Services
.services {
  padding: 50px 0;
}

.service-item {
  margin-bottom: 15px;
}

i.service-icon {
  border: 3px solid #333;
  border-radius: 50%;
  display: inline-block;
  font-size: 56px;
  height: 140px;
  line-height: 136px;
  text-align: center;
  vertical-align: middle;
  width: 140px;
  &:hover {
    font-size: 68px;
  }
}
